div {
  height: 100%;
}

.home_leader_main_text {
  font-size: 30px;
  letter-spacing: 0.015em;
  color: var(--Orange-7);
  font-weight: 700;
}

.home_leader {
  margin: 40px 0;
}

.home_leader_line_1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* end custom select */

.home_leader_line_1_right {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

.line_1_right_text_1 {
  font-size: 30px;
  margin-top: 12px;
  letter-spacing: 0.015em;
  color: #ffffff;
  font-weight: 700;
}

.line_1_right_text_2 {
  font-size: 18px;
  margin-top: -25px;
  letter-spacing: 0.015em;
  color: #ffffff;
  font-weight: 600;
}

/* giá trị chung của hàng 1 phải */

.common_line_1_right {
  position: relative;
  width: 23%;
  height: 90px;
  overflow: hidden;
  border-radius: 16px;
}

.mon__hoc {
  left: 0px;
  top: 0px;
  background: linear-gradient(270deg, #ff5400 0%, #f17f21 80.56%);
  opacity: 0.9;
}

.giang__vien {
  border-radius: 16px;
  background: linear-gradient(98.91deg, #56ccf2 1.13%, #2f80ed 100%);
}

.tep__rieng__tu {
  border-radius: 16px;
  background: linear-gradient(270deg, #ff5400 0%, #f17f21 80.56%);
  opacity: 0.9;
}

.de__thi {
  background: linear-gradient(
    98.89deg,
    rgba(46, 172, 238, 0.7) 4.77%,
    rgba(0, 22, 218, 0.7) 96.59%
  );
  box-shadow: 4px 4px 25px 4px rgba(154, 202, 245, 0.25);
}
/* custom circle */

.circle_1 {
  position: absolute;
  width: 104px;
  height: 104px;
  left: -65px;
  top: -37px;
  background: #ffffff;
  opacity: 0.1;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 50%;
}
.circle_2 {
  position: absolute;
  width: 152px;
  height: 152px;
  left: 220px;
  top: 41px;
  border-radius: 50%;
  background: #ffffff;
  opacity: 0.1;
}
.circle_3 {
  position: absolute;
  width: 104px;
  height: 104px;
  left: 190px;
  top: 76px;
  background: #ffffff;
  opacity: 0.1;
  border-radius: 50%;
}

.circle_4 {
  position: absolute;
  width: 104px;
  height: 104px;
  left: -40px;
  top: -40px;
  background: #ffffff;
  opacity: 0.1;
  border-radius: 50%;
}

.circle_5 {
  position: absolute;
  width: 104px;
  height: 104px;
  left: 265px;
  top: 76px;
  background: #ffffff;
  opacity: 0.1;
  border-radius: 50%;
}
.circle_6 {
  position: absolute;
  width: 104px;
  height: 104px;
  left: -40px;
  top: -44px;
  background: #ffffff;
  opacity: 0.1;
  border-radius: 50%;
}
.circle_7 {
  position: absolute;
  width: 104px;
  height: 104px;
  left: 265px;
  top: 76px;
  background: #ffffff;
  opacity: 0.1;
  border-radius: 50%;
}
.circle_8 {
  position: absolute;
  width: 104px;
  height: 104px;
  left: -60px;
  top: -37px;
  background: #ffffff;
  opacity: 0.1;
  border-radius: 50%;
}

.circle_9 {
  position: absolute;
  width: 104px;
  height: 104px;
  left: 197px;
  top: 76px;
  background: #ffffff;
  opacity: 0.1;
  border-radius: 50%;
}

.circle_10 {
  position: absolute;
  width: 152px;
  height: 152px;
  left: 220px;
  background: #ffffff;
  top: 41px;
  opacity: 0.1;
  border-radius: 50%;
}

/* end custom circle */
.home_leader_line_2 {
  position: relative;
  height: 100%;
  margin: 5rem 0;
}

.tab_home_main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.home_leader_line_2_text {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.015em;
  color: var(--Orange-5);
  margin-top: 5rem;
}

/* custom tab */

.tab_home {
  padding: 10px;
  background: #ffffff;
  box-shadow: 4px 4px 25px 4px rgba(154, 202, 245, 0.25);
  border-radius: 8px;
  height: 9rem;
}

.tab_home_content {
  width: 50%;
}

.tab_home_content span {
  display: block;
}

.tab_text_1 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  letter-spacing: 0.015em;
  color: var(--Orange-7);
}

.tab_text_2 {
  font-size: 14px;
  line-height: 130%;
  color: var(--Orange-7);
}

.tab_text_3 {
  font-size: 18px;
  line-height: 21px;
  color: var(--Orange-5);
  margin-top: 10px;
  text-transform: uppercase;
}

.tab_home_main_img_line2 {
  position: relative;
  width: 50%;
}

.tab_home_img {
  width: 90%;
  border-radius: 10px;
}

.play_Circle {
  position: absolute;
  right: 40%;
  top: 5%;
}

.cont {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

/* end custom tab */

/* custom paginate */
.paginateBttn li:nth-child(2),
.paginateBttn li:nth-child(3) {
  display: none;
}

/* end custom paginate */

/* custom arrow */

.paginateBttn {
  display: flex;
  width: 40px;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
}

.previousBttn,
.nextBttn {
  color: #ffffff00;
  display: block;
  width: 14px;
  overflow: hidden;
}

.previousBttn:hover,
.nextBttn {
  color: #ffffff00;
}

.previousBttn::before {
  content: "<";
  color: var(--Orange-4);
  font-size: 18px;
  font-weight: 800;
}

.nextBttn::before {
  content: ">";
  color: var(--Orange-4);
  font-size: 18px;
  font-weight: 800;
}

.disablePaginate a::before {
  color: silver;
  cursor: default;
}

/* end arrow */

.home_leader_line_3 {
  display: flex;
  justify-content: space-between;
}

.home_table_line_3 {
  width: 23.5%;
  height: 288px;
  background: var(--Orange-3);
  box-shadow: 4px 4px 25px 4px rgba(154, 202, 245, 0.25);
  border-radius: 16px;
}

.home_table_line_3 p {
  font-size: 18px;
  letter-spacing: 0.015em;
  color: var(--Orange-7);
  font-weight: 700;
  padding-top: 1rem;
  padding-left: 3rem;
}

.home_list_table {
  display: flex;
  width: 96%;
  height: 77%;
  margin: auto;
  justify-content: space-around;
  background: #ffffff;
  border-radius: 10px;
  line-height: 35px;
}

.home_table_left th {
  font-weight: 400;
  padding: 5px 0;
}

.home_table_right td {
  color: var(--Orange-5);
  padding: 5px 0;
  font-weight: 700;
}

.home_table_left,
.home_table_right {
  display: grid;
}

.home_leader_file_private {
  width: 74%;
  position: relative;
}

.home_leader_file_private p:first-child {
  font-size: 18px;
  letter-spacing: 0.015em;
  color: var(--Orange-5);
  font-weight: 700;
}

.home_leader_file_private p:last-child {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--Orange-7);
  opacity: 0.5;
}

.home_leader_file_private_tab {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  height: 65%;
}

.home_leader_file_private_show {
  height: 90%;
  padding: 10px;
  background: #ffffff;
  box-shadow: 4px 4px 25px 4px rgba(154, 202, 245, 0.25);
  border-radius: 8.5364px;
}

.file_private_content {
  padding: 5px 0;
}

.file_private_content span {
  display: block;
}

.file_private_content span:nth-child(1) {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.015em;
  color: var(--Orange-7);
}
.file_private_content span:nth-child(2) {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: var(--Orange-7);
  margin-bottom: 15px;
}
.file_private_content span:nth-child(3) {
  font-size: 18px;
  letter-spacing: 0.015em;
  color: var(--Orange-5);
}
.file_private_content span:nth-child(4) {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: var(--Orange-7);
}

.file_private {
  display: flex;
  justify-content: space-evenly;
}

.file_private img {
  width: 25%;
  height: 10%;
  margin-top: 10px;
  margin-right: 20px;
}

.arrow_home_leader_line_3 {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--Orange-4);
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
}

/* responsive */

@media screen and (max-width: 1280px) {
  .cont {
    align-items: flex-start;
  }
  .tab_home {
    height: 10rem;
  }
  .tab_home_img {
    width: 80%;
  }
  .home_table_line_3 {
    height: 20rem;
  }
  .play_Circle {
    top: 3%;
    width: 30%;
    right: 44%;
  }
}

@media screen and (max-width: 1024px) {
  .tab_home_main {
    grid-template-columns: repeat(3, 1fr);
  }
  .home_leader_line_3 {
    display: block;
  }
  .home_table_line_3 {
    width: 50%;
  }
  .home_leader_file_private {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .line_1_right_text_1 {
    font-size: 20px;
    margin-top: 22px;
  }
  .line_1_right_text_2 {
    font-size: 15px;
  }
  .cont {
    display: block;
  }
  .tab_home_main_img_line2 {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .tab_home {
    height: 100%;
  }
  .tab_home_content {
    width: 100%;
    text-align: center;
  }
  .home_leader_file_private_show {
    height: 100%;
  }
  .file_private {
    display: block;
    height: 100%;
  }
  .file_private img {
    width: 40%;
    height: 40%;
  }
  .file_private_content span:nth-child(4) {
    padding-bottom: 3rem;
  }
  .paginateBttn {
    width: 55px;
  }
  .play_Circle {
    top: 35%;
    width: 20%;
    right: 40%;
  }
}

@media screen and (max-width: 600px) {
  .home_leader_line_1 {
    display: inline;
  }
  .home_leader_line_1_right {
    margin-top: 10px;
  }
  .file_private img {
    width: 30%;
    height: 30%;
  }
}

@media screen and (max-width: 500px) {
  .home_leader_line_1_right {
    display: block;
  }
  .home_leader_line_1_right section {
    width: 100%;
    margin: 1rem 0;
  }
  .tab_home_main {
    grid-template-columns: repeat(1, 1fr);
  }
  .home_leader_line_2_text {
    margin: 3rem 0;
  }
  .paginateBttn {
    left: 0;
    top: 2rem;
  }
  .home_table_line_3 {
    width: 100%;
  }
  .home_leader_file_private p:first-child {
    margin: 3rem 0;
  }
  .home_leader_file_private_tab {
    grid-template-columns: repeat(1, 1fr);
  }
}
