.nav__bar {
  position: relative;
}

.navBarForMobile {
  display: none;
}

.nav__bar_need {
  position: fixed;
  width: 90px;
  height: 100%;
  z-index: 10;
  background: linear-gradient(359.43deg, #ff5400 2.1%, #f17f21 98.52%);
  box-shadow: 4px 4px 15px rgb(122 176 225 / 25%);
}

.home__nav span {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.015em;
  opacity: 0.7;
  color: var(--Orange-7);
}

.khoa__hoc__nav span {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.015em;
  opacity: 0.7;
  color: var(--Orange-7);
}

.lock__nav span {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.015em;
  opacity: 0.7;
  color: var(--Orange-7);
}

.img_nav {
  position: absolute;
  width: 75%;
  top: 35px;
  left: 11px;
}

.list__item {
  position: absolute;
  top: 160px;
  width: 100%;
}

.list__item li {
  text-align: center;
  list-style: none;
  position: relative;
}

.list__item li img {
  width: 24px;
  margin-bottom: 25px;
  padding-top: 20px;
}

.list__item li .active {
  background: #fff9f48f;
  border-radius: 16px;
  transition: all 0.2s ease-in;
  padding: 20px;
}

.menu {
  position: fixed;
  width: 230px;
  height: 100%;
  left: -138px;
  transition: all 0.4s;
  background: #ffffff;
  box-shadow: 4px 4px 10px rgba(133, 178, 220, 0.25);
  border-radius: 0px;
  z-index: 3;
  transition: all 0.4s;
  opacity: 0;
}

.nav__bar:hover .menu {
  left: 91px;
  opacity: 1;
  z-index: 7;
}

.menu .menu__item {
  position: absolute;
  top: 180px;
  padding-left: 10px;
  width: 100%;
}

.menu .menu__item li {
  margin-bottom: 43px;
}

.menu .menu__item li a {
  font-size: 16px;
  letter-spacing: 0.015em;
  color: var(--Orange-7);
  opacity: 0.7;
  font-weight: 600;
}

.menu .menu__item li .active {
  border-right: solid 8px var(--Orange-4);
  width: 100%;
  height: 100%;
  display: block;
  color: var(--Orange-4);
  transition: all 0.4s;
  font-size: 18px;
  letter-spacing: 0.015em;
}

.khoa__hoc__nav span {
  font-size: 16px;
  letter-spacing: 0.015em;
  color: var(--Orange-7);
  opacity: 0.7;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 5px;
}

#menu_drop_true {
  height: 100%;
  margin-left: 10px;
}

.khoa__hoc__nav #menu_drop_true a {
  font-size: 16px !important;
  font-weight: 500 !important;
  display: block;
  color: var(--Orange-7);
  opacity: 0.7;
}
.khoa__hoc__nav #menu_drop_true a.active {
  color: var(--Orange-4);
  font-weight: 500 !important;
  font-size: 16px !important;
}

#menu_drop_false {
  height: 0;
  overflow: hidden;
  transition: all 0.4s;
}

@media screen and (max-width: 1280px) {
  .nav__bar_need {
    width: 65px;
  }
  .img_nav {
    left: 8px;
  }
  .nav__bar:hover .menu {
    left: 65px;
  }
  .menu {
    width: 152px;
  }
}

@media screen and (max-width: 1024px) {
  .menu {
    width: 100px;
  }
}

@media screen and (max-width: 480px) {
  .navBarForMobile {
    display: block;
    color: var(--Orange-6);
    text-align: center;
    font-size: 30px;
    padding-top: 1rem;
  }

  .nav__bar_need {
    height: 65px;
    overflow: hidden;
  }

  .activeNav {
    height: 100%;
    overflow: scroll;
  }

  .menu {
    height: 0;
    overflow: hidden;
  }

  .menu.activeNav {
    height: 100%;
    overflow: scroll;
  }
  
  .img_nav {
    top: 5rem;
  }
  .scrollNav {
    height: 6%;
  }
  .activeNav.scrollNav {
    height: 100%;
  }

  .scrollNav .navBarForMobile {
    padding-top: 0;
    font-size: 15px;
  }
}

@media screen and (max-height: 600px) {
  .nav__bar_need {
    overflow: scroll;
  }
  .menu {
    overflow: scroll;
  }
}
