.hoi_dap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.select_hoi_dap {
  display: flex;
}

.select_main {
  position: relative;
  display: flex;
  height: 100%;
}

.select_hoi_dap_one {
  width: 176px;
}

.select_hoi_dap_two {
  width: 210px;
}

.select_hoi_dap_three {
  width: 240px;
}

@media screen and (max-width: 1280px) {
  .select_hoi_dap {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .select_main {
    margin-bottom: -2rem;
  }
}

@media screen and (max-width: 600px) {
  .hoi_dap {
    display: block;
  }
  .hoi_dap_btn {
    margin-top: 8rem;
  }
}

@media screen and (max-width: 480px) {
  .select_main {
    margin-bottom: -2rem;
    width: 119%;
  }
  .hoi_dap_btn {
    margin-top: 0;
  }
}