.thong_tin_chung {
  background: #cc5c00;
  border-radius: 16px 16px 0px 0px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.015em;
  color: #ffffff;
  padding: 0.7rem 4rem;
}

/*custom show img */
.change_img_before_after {
  position: relative;
  width: 25%;
}

.change_img_before_after .change_img_bg_text {
  width: 232px;
  height: 232px;
  background: #c5c5c5;
  border-radius: 50%;
  text-align: center;
}

.change_img_before_after .change_img_bg_text span {
  width: 113px;
  height: 181px;
  font-size: 144px;
  letter-spacing: 0.015em;
  color: #ffffff;
}

.change_img_before_after #form_change_info_icon {
  position: absolute;
  left: 32%;
  bottom: 32%;
  cursor: pointer;
}

.custom_avatar {
  width: 80%;
  height: 60%;
  border-radius: 50%;
}
/*end custom show img */

/*custom form*/
.form_change_info {
  width: 100%;
  height: 415px;
  box-shadow: 4px 4px 25px 4px rgba(154, 202, 245, 0.25);
  border-radius: 16px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;
}

.change_img {
  width: 25%;
}

.form_thong_tin_chung {
  display: flex;
  justify-content: space-between;
  width: 65%;
}

.form_group_custom_thong_tin_chung {
  display: flex;
  align-items: center;
  width: 23rem;
}

.form_group_custom_thong_tin_chung label {
  width: 53%;
}

.form_group_custom_thong_tin_chung input {
  width: 100%;
  padding: 8px 16px;
  height: 40px;
  background: #e1e1e1;
  border-radius: 8px;
}

.form_group_custom_thong_tin_chung_select {
  display: flex;
  align-items: baseline;
  width: 100%;
}

.form_group_custom_thong_tin_chung_select label {
  width: 53%;
}

.form_group_custom_thong_tin_chung_select .form-group {
  width: 100%;
  position: relative;
}

select.custom_thong_tin_chung_select {
  width: 104px;
  height: 40px;
  background: #e1e1e1;
}

.form_group_custom_thong_tin_chung_select .form-group img {
  position: absolute;
  margin-left: 4.2rem;
  top: 40%;
}

#custom-text-form-for-address-input {
  height: 94px;
  background: #e1e1e1;
  border-radius: 8px;
}

.custom-text-form-for-address {
  align-items: flex-start;
}
/*end custom form*/

/*responsive*/

@media screen and (max-width: 1280px) {
  .form_thong_tin_chung {
    width: 70%;
    margin: auto;
  }
  .change_img_before_after {
    width: 20%;
    margin: auto;
  }
  .form_group_custom_thong_tin_chung {
    display: block;
  }
  .form_group_custom_thong_tin_chung input {
    width: 80%;
  }
  #custom-text-form-for-address-input {
    width: 80%;
  }
  .change_img_before_after #form_change_info_icon {
    left: 25%;
    bottom: -25%;
  }
}

@media screen and (max-width: 1080px) {
  .form_change_info {
    height: 100%;
  }
  .form_thong_tin_chung {
    display: block;
    width: 50%;
  }
  .custom_avatar {
    height: 26%;
    width: 100%;
  }
  .change_img_before_after #form_change_info_icon {
    left: 35%;
    top: 85%;
  }
  .btn_change_info {
    display: flex;
    flex-direction: column;
    left: 8%;
  }
}

@media screen and (max-width: 800px) {
  .form_change_info {
    display: block;
    height: 920px;
  }
  .change_img_before_after #form_change_info_icon {
    top: 30%;
    left: 100%;
  }
  .thong_tin_ca_nhan_btn {
    flex-direction: column;
  }
  .custom_avatar {
    height: 100%;
  }
  .btn_change_info {
    left: 38%;
    bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  .form_thong_tin_chung {
    width: 80%;
  }
}
