.custom_model_doi_ten {
  text-align: center;
  font-size: 28px;
  margin: 10px 0;
  letter-spacing: 0.015em;
  color: #373839;
  font-weight: 700;
}

.custom_model_body_doi_ten input {
  width: 712px;
  height: 40px;
  border: 1px solid rgba(55, 56, 57, 0.5);
  border-radius: 8px;
  padding-left: 1rem;
  margin-right: 0.5rem;
}

.custom_btn_doi_ten {
  text-align: center;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding: 10px;
}

.custom_btn_doi_ten button:first-of-type {
  width: 160px;
  height: 52px;
  background: #f2f2f2;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  letter-spacing: 0.015em;
  color: var(--Orange-7);
  font-weight: 700;
}

.custom_btn_doi_ten button:last-of-type {
  width: 160px;
  height: 52px;
  background: var(--Icon-silver);
  border-radius: 8px;
  border: none;
  font-size: 18px;
  letter-spacing: 0.015em;
  color: white;
  font-weight: 700;
}

button:last-of-type.change_text_doi_ten {
  background: var(--Orange-4);
}

/*custom modal xoa*/
div.modal_content_xoa {
  width: 85%;
  margin: auto;
}

.modal_xoa_title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: var(--Orange-7);
  margin: 20px 0;
}

button:last-of-type.btn_xoa {
  background: var(--Orange-4);
}
