
.login__bg {
  position: relative;
  background: url(../../../../assets/img/login.png) no-repeat;
  background-size: 100% 100vh;
  height: 100vh;
}

.login__bg img {
  position: absolute;
  width: 10%;
  right: 0;
  top: 0%;
}

.login__bg .form__login {
  position: absolute;
  left: 65%;
  top: 22%;
  bottom: 70%;
  width: 25%;
  height: 0;
}

.form__login h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 60px;
  letter-spacing: 0.015em;
  text-align: center;
  margin-bottom: 50px;
  color: var(--Orange-7);
}