:root {
  --Orange-7: #373839;
  --Orange-6: #823b00;
  --Orange-5: #cc5c00;
  --Orange-4: #ff7506;
  --Orange-3: #ffa75e;
  --Orange-2: #ffd8b8;
  --Orange-1: #fff9f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700&display=swap");

html {
  font-family: "Mulish", sans-serif;
}

li {
  list-style: none;
}

a:hover {
  text-decoration: none !important;
}

/* custom select*/

select {
  appearance: none;
}

.select_main select {
  background: #ffffff00;
  border: 1px solid var(--Orange-7);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 7px;
  font-size: 15px;
  z-index: 2;
  height: 32px;
  margin-bottom: 3rem;
}

.img_select {
  position: relative;
  right: 32px;
  border: solid 1px var(--Orange-7);
  border-radius: 4px;
  height: 32px;
  width: 32px;
  line-height: 30px;
  text-align: center;
  z-index: 1;
}
/*end custom select*/

/*custom button red pink*/
.custom_btn_red_pink {
  width: 120px;
  height: 32px;
  background: var(--Orange-2);
  border: 1px solid var(--Orange-4);
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: bold;
  color: var(--Orange-7);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}

.custom_btn_red_pink:active {
  color: white;
  background-color: var(--Orange-4);
}
/*end custom button red pink*/
